@font-face {
    font-family: 'PixelCastleReg';
    src: url('assets/fonts/Pixelcastle-Regular-copy.otf')
}

body {
    background-image: url('assets/background/2bfbg-copy.jpg');
    background-repeat: repeat;
    background-color: #f8acc8;
    font-family: 'PixelCastleReg';
    color: black;
    margin: auto;
    border: 4px #f8acc8;
    width: 90%;
    max-width: 800px;
  }

.page-wrapper {
    max-width: 1000px;
    width: 95%;
    margin: 60px auto;
    padding: 80px;
    background-color: #fdfbfb;
    border-style:none
}

.decorated-title {
    text-align: center;
    font-size: 1.4rem;
    color: #006def;
    line-height: 2;
}

.main-title-welcome-to-heartland {
    text-align: center;
    font-family: 'PixelCastleReg';
    font-size: 2.5rem;
    color: #f8acc8;
}

.subtitle {
    text-align: center;
    font-family: 'PixelCastleReg';
    font-size: 1.2rem;
    color: #006def;
}
